/* Cores */

:root {
  --texto: #000000;
  --texto-link: #c8c8c8;
  --fundo: #cc7613;
  --fundo-card: #fff;
  --fundo-botao: #333333;
}

/* Estilos gerais*/

* {
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
  text-decoration: none;
  list-style: none;
  outline: none;
  font-size: 1em;
}

html {
  height: 100%;
  box-sizing: border-box;
}

body {
  background-color: var(--fundo);
  color: var(--texto);
}

input {
  width: 100%;
  padding: 10px 10px;
  border-radius: 5px;
}

a {
  text-decoration: none;
  color: var(--texto-link);
}

/* Header */

header {
  background: var(--fundo-botao);
  width: 40%;
  margin-left: auto;
  margin-right: 0;
  height: 65px;

  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;

  border-bottom-left-radius: 10px;
}

.menu {
  display: flex;
}

.menu li {
  margin-right: 10px;
}

.menu li a {
  display: block;
  padding: 0 15px;
}

/* Footer */

#footer {
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
  padding: 1rem;
  background-color: #efefef;
  text-align: center;

  display: flex;
  justify-content: space-between;
  align-items: center;
}

#footer img {
  width: 50px;
  height: 50px;
  border-radius: 50%;
}

#social-icons a {
  padding-left: 25px;
}

/* Tela principal */

#hero {
  position: relative;
  width: 100vw;
  height: 80vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

#hero-logo {
  padding-right: 2em;
  border-radius: 50%;
}

#hero-content {
  position: relative;
  color: var(--fundo-card);
  text-align: justify;
  margin: 0.625rem;
}

#hero-title {
  font-size: 3rem;
  font-weight: 600;
  margin-bottom: 0;
}

#hero-subtitle {
  font-size: 2rem;
  font-weight: 200;
  margin-top: 1rem;
}

#hero-button {
  background-color: var(--fundo-botao);
  color: var(--fundo-card);
  text-align: center;
  padding: 12px;
  cursor: pointer;
  border-radius: 10px;
  margin-top: 25px;
  width: 60%;
  border: none;
}

/*Tela login */

#login-container {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.boxdelogin {
  display: flex;
  justify-content: center;
  width: 100%;
  height: 640px;
}

.cardlogin {
  background-color: var(--fundo-card);
  border-radius: 15px;
  padding: 50px;
  text-align: center;
}

.loginHeader {
  text-align: left;
  padding-bottom: 25px;
}

.loginFooter {
  padding-top: 10px;
}

.user-email {
  padding-bottom: 25px;
}

.label-input {
  padding: 10px 10px 10px 0px;
}

.label-input input {
  border: 1px solid var(--fundo-botao);
  border-radius: 10px;
  padding-left: 15px;
}

#loginButton {
  background-color: var(--fundo-botao);
  color: var(--fundo-card);
  text-align: center;
  padding: 12px;
  cursor: pointer;
  border-radius: 10px;
  margin-top: 25px;
  width: 80%;
  border: none;
}

/* Tela de cadastro */

#cadastro-container {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

#newUserButton {
  background-color: var(--fundo-botao);
  color: var(--fundo-card);
  text-align: center;
  padding: 12px;
  cursor: pointer;
  border-radius: 10px;
  margin-top: 35px;
  width: 80%;
  border: none;
}

/* minhasreceitas */

#receitas-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#receitas-title {
  width: 50%;
  margin-left: 13em;
}

#receitas-title h2 {
  font-size: 2em;
}

.card-receita {
  background-color: #fff;
  border-radius: 15px;
  padding: 15px 30px;
  display: block;
  gap: 20px;
  width: 65%;
  margin-top: 1em;
}

.box-receita {
  display: flex;
  justify-content: space-between;
}

.box-receita p {
  margin-top: 15px;
}

.box-receita ul li i {
  padding-right: 1em;
}
