
/* Cores */

:root {
  --texto: #000000;
  --texto-link: #c8c8c8;
  --fundo: #cd7613;
  --fundo-card: #fff;
  --fundo-botao: #333333;
}

/* Estilos gerais*/

* {
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
  text-decoration: none;
  list-style: none;
  outline: none;
  font-size: 1em;
}

html {
  height: 100%;
  box-sizing: border-box;
}

body {
  background-color: var(--fundo);
  color: var(--texto);
  
}

input {
  width: 100%;
  padding: 10px 10px;
  border-radius: 5px;
}

a {
  text-decoration: none;
  color: var(--texto-link);
}

/* Header */

header {
  background: var(--fundo-botao);
  width: 40%;
  margin-left: auto;
  margin-right: 0;
  height: 65px;

  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;

  border-bottom-left-radius: 10px;
}

.menu {
  display: flex;
}

.menu li {
  margin-right: 10px;
}

.menu li a {
  display: block;
  padding: 0 15px;
}

/* Footer */

#footer {
  bottom: 0;
  position: fixed;
  width: 100%;
  text-align: center;
  background-color: #efefef;
  text-align: center;

  display: flex;
  justify-content: space-between;
  align-items: center;
}

#footer img {
  width: 50px;
  height: 50px;
  border-radius: 50%;
}

#social-icons a {
  padding-left: 25px;
}

/* Tela principal */

#hero {
  position: relative;
  width: 100vw;
  height: 80vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

#hero-logo {
  padding-right: 2em;
  border-radius: 50%;
}

#hero-content {
  position: relative;
  color: var(--fundo-card);
  text-align: justify;
  margin: 0.625rem;
}

#hero-title {
  font-size: 3rem;
  font-weight: 600;
  margin-bottom: 0;
}

#hero-subtitle {
  font-size: 2rem;
  font-weight: 200;
  margin-top: 1rem;
}

#hero-button {
  background-color: var(--fundo-botao);
  color: var(--fundo-card);
  text-align: center;
  padding: 12px;
  cursor: pointer;
  border-radius: 10px;
  margin-top: 25px;
  width: 60%;
  border: none;
}

/*Tela login */

#login-container {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.boxdelogin {
  display: flex;
  justify-content: center;
  width: 100%;
  height: 640px;
}

.cardlogin {
  background-color: var(--fundo-card);
  border-radius: 15px;
  padding: 50px;
  text-align: center;
}

.loginHeader {
  text-align: left;
  padding-bottom: 25px;
}

.loginFooter {
  padding-top: 10px;
}

.user-email {
  padding-bottom: 25px;
}

.label-input {
  padding: 10px 10px 10px 0px;
}

.label-input input {
  border: 1px solid var(--fundo-botao);
  border-radius: 10px;
  padding-left: 15px;
}

#loginButton {
  background-color: var(--fundo-botao);
  color: var(--fundo-card);
  text-align: center;
  padding: 12px;
  cursor: pointer;
  border-radius: 10px;
  margin-top: 25px;
  width: 80%;
  border: none;
}

/* Tela de cadastro */

#cadastro-container {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

#newUserButton {
  background-color: var(--fundo-botao);
  color: var(--fundo-card);
  text-align: center;
  padding: 12px;
  cursor: pointer;
  border-radius: 10px;
  margin-top: 35px;
  width: 80%;
  border: none;
}

/* minhasreceitas */

body {
  color: #070707;
  font-family: 'Roboto', sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  margin: 0;
  padding-bottom: 100px;
}

@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');
* {
    box-sizing: border-box;
}

h1 {
    margin-bottom: 0;
    text-align: center;
    color: #bab9c6;
}

.filter-container {
    margin-top: 20px;
    width: 80vw;
    max-width: 800px;
}

.filter {
    width: 100%;
    padding: 12px;
    font-size: 16px;
    border: 0;
    border-radius: 10px;
}

.post {
    position: relative;
    background-color: white;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3);
    border-radius: 3px;
    padding: 30px;
    margin: 40px 0;
    display: flex;
    width: 80vw;
    max-width: 800px;
}

.post .post-title {
    margin: 0;
}

.post .post-body {
    margin: 20px 0 0;
    line-height: 1.5;
}

.post .post-info {
    margin-left: 20px;
}

.post .number {
    position: absolute;
    top: -15px;
    left: -15px;
    font-size: 15px;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background: #dac152;
    color: #0E1220;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 7px 10px;
}

.loader {
    opacity: 0;
    display: flex;
    position: fixed;
    bottom: 50px;
    transition: opacity 0.3s ease-in;
}

.loader.show {
    opacity: 1;
}

.circle {
    background-color: #4CD964;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    margin: 5px;
    animation: bounce 0.5s ease-in infinite;
}

.circle:nth-of-type(2) {
    animation-delay: 0.1s;
}

.circle:nth-of-type(3) {
    animation-delay: 0.2s;
}

.mostrarMais{
  position: absolute;
  border: none;
  margin-top: 5px;
  color: #333333;

}


@keyframes bounce {
    0%,
    100% {
        transform: translateY(0);
    }
    50% {
        transform: translateY(-10px);
    }
}
